
.dadosClinica {
    align-items: center;
    background-color: white;
}
.dadosClin{
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
  font-weight: bold;

}
.titulocad{
  font-weight: bold;
  font-size: 35px;
}


  
  