.container{
    height: 100vh;
    width: 100vw;
}


.containerForm{
    margin-left: 60%;
    
    
}

form{
    position:relative;
    top:30%;
    height:270px;
    margin-left: 10%;
}

input{
    background-color: #56CDD1;
    margin-bottom: 3%;
    width: 50%;
    height: 10%;
    border: 0;
    border-bottom: 1px solid rgba(2, 2, 2, 0.425);
    align-items: center;
    color: rgb(0, 0, 0);
}
.btnCadastrar{
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: 0;
}
.btnCadastrar:hover{
    color: white;
    background-color: #084a4dd8;
}
