@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat:wght@600&family=Russo+One&display=swap');

.footer{
    background:  #56CDD1;
    align-items: center;
  }
  .ancora{
    color: white;
  }
  .ancora:hover{
    color: #BBDEFB;
  }